.button {
  background-color: rgb(var(--background-rgb));
  box-shadow: 0 0;
  overflow: hidden;

  transition: 0.2s;
}

.button:hover {
  /* background-color: rgb(var(--foreground-rgb)); */
  /* color: rgb(var(--background-rgb)); */
  transform: translate(-5px, -5px);
  box-shadow: 7.5px 7.5px rgb(var(--hover-shadow-rgb));

  transition: 0.2s;
}

.talentList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.talentButtonSidebar {
  margin: 0 5px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  flex-basis: 2px;
}

.talentButtonSidebar *:not(:first-child) {
  margin: 0 10px 0 0;
}
