:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 255, 255, 252;
  --background-rgb: 7, 17, 8;
  --accent-1-rgb: 122, 40, 203;
  --accent-2-rgb: 229, 212, 237;
  --subtitle-rgb: 175, 175, 175;

  --foreground-alt-rgb: 232, 238, 242;
  --background-alt-rgb: 48, 54, 51;

  --active-rgb: 162, 123, 181;
  --hover-shadow-rgb: var(--accent-1-rgb);
  --hover-background-rgb: var(--accent-2-rgb);

  --border-rgb: 230, 230, 230;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;

  font-family: "Inter", sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  margin: auto;
  width: clamp(804.5px, 60vw, 1440px);
}

.main .content:first-child {
  margin-top: 80px;
}

.main .content {
  margin-top: 50px;
}

.main .content:last-child {
  margin-bottom: 150px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
