.topbar {
  height: 80px;
  width: 100vw;
  background-color: rgb(var(--accent-1-rgb));
  display: flex;
  padding: 5px 20px;
}

.sidebar {
  --sidebar-width: 400px;
  --sidebar-z-index: 90;

  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  height: 100vh;
  left: calc(var(--sidebar-width) * -1);
  width: var(--sidebar-width);
  background-color: rgb(var(--background-alt-rgb));
  padding: 10px 10px 10px 20px;
  transition: 0.3s;
  z-index: var(--sidebar-z-index);
}

.sidebar * {
  z-index: calc(var(--sidebar-z-index) + 1);
}

.sidebarOpen {
  transform: translateX(var(--sidebar-width));
}

.topbarLogo img,
.sidebarLogo img {
  cursor: pointer;
}
